@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 145 58% 38%;
    --primary-foreground: 145 50% 98%;
    --secondary: 60 30% 85%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 60 30% 85%;
    --muted-foreground: 240 5% 45.1%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 30% 80%;
    --input: 60 30% 84%;
    --ring: 145 58% 38%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 145 10% 10%;
    --foreground: 60 30% 96.1%;
    --card: 145 10% 12%;
    --card-foreground: 60 30% 96.1%;
    --popover: 145 10% 10%;
    --popover-foreground: 60 30% 96.1%;
    --primary: 145 58% 54%;
    --primary-foreground: 145 60% 9%;
    --secondary: 145 10% 15%;
    --secondary-foreground: 60 30% 96.1%;
    --muted: 145 10% 15%;
    --muted-foreground: 60 20% 63.9%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 145 10% 20%;
    --input: 145 10% 20%;
    --ring: 145 58% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
